*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

div{
    padding: 20px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    background-color: greenyellow;
    padding: 20px 30px;
    font-size: 32px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: red;
    color: white;
}

span{
    background-color: navy;
    color: white;
}

a{
    text-decoration: none;
    color: white;

}

.card {
    width: 320px;
    padding: 16px;
    background: #f5f5f5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 40px auto;
}
.minha-imagem {
    width: 100%;
    max-width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}
.trocar-imagem {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
  }