h1 {
    color: crimson; /*muda a cor da fonte/texto */

    background-color: black; /* muda a cor do fundo */

    font-size: 48px; /* muda o tamanho da fonte */
}

h2{
    color: darkmagenta;
    background-color: coral;
}

.fundo-verde{
    background-color: chartreuse;
}

.fundo-marrom{
    background-color: brown;
}
img{
    width: 300px; /*muda a largura*/
    /*height: 100px; */ /*muda a altura*/
}

a{
    text-decoration: none; /* muda a decoraçao do texto (sublinhado) */
}

button{

    background-color: darkred;
    border: none; /* muda a borda */
    border-radius: 15px; /* arredonda as bordas */
    color: white;
    padding: 5px 15px; /*muda o espaçamento do elemento */
    cursor: pointer; /* muda o estilo do cursor do mouse */

}

/* Aplica esse estilo quando passarmos o mouse em cima */
button:hover {
    background-color: rgb(255, 0, 0);
}