* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(128, 128, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container {
    background-color: black;
    width: 100%;
    min-height: 20vh;
    color: white;

}

button {
    border: none;
    padding: 10px 20px;
    background-color: darkorange;

}

button:hover {
    background-color: orange;
    cursor: pointer;
}